<h1>Bienvenido a los notificadores de correos </h1>

<h1>Bienvenido</h1>
<p>
  Esto es un ejemplo de envío de correos en una aplicación de Ruby on Rails<br>
  ya  esta autorizando
</p>

<p>Thanks for joining and have a great day!</p>